.accList {
  margin: 20px;
  text-align: center !important;
  border: 1px solid #02064a;
}

.name {
  text-align: center;
  font-size: 24px !important;
  font-weight: 600 !important ;
}

.addBtn {
  margin: 0px;
  padding: 10px;
  width: 70px;
  height: 70px;
  fill: indigo !important;
}
.addBtn2 {
  margin: 0px;
  margin-top: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  fill: indigo !important;
}
.delBtn {
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: red;
}
.income {
  font-size: 22px !important;
  font-weight: 400;
}
