
.main {
  width: 100%;
  height: 300px;
  padding-top: 5%;
  background-color: #02064a !important;
}
.login {
  border: 1px solid grey;
  margin-left: 30%;
  margin-right: 30%;
  height: 500px;
  box-shadow: grey;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
}
h5 {
  text-align: left;
  margin-bottom: 20px !important;
  color: grey;
  font-size: 14px !important;
}
h1 {
  font-size: 26px !important;
  margin-top: 0;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 400;
}
.left {
  text-align: left;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}


@media (max-width: 800px) {
  .login {
    padding: 50px;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .left {
    width: 100%;
  }

}
