.errMsg {
  text-align: center;
  padding: 5px !important;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  background-color: tomato;
}
.susMsg {
  text-align: center;
  padding: 5px !important;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  background-color: green;
}
.active {
  color: white;
  text-align: center;
}
