.main {
  display: flex;
  flex-direction: column;
}
.addBtn {
  padding: 10px;
  width: 70px;
  height: 70px;
  fill: indigo !important;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}