.button {
  margin: 20px;
  border: 2px solid indigo;
  background-color: white;
  color: indigo;
  padding: 12px 24px;
  font-size: 16px;
}
.button:hover {
  background-color: indigo !important;
  color: white;
}
