.data {
  font-size: 22px;
  color: indigo;
}
.title {
  font-size: 36px !important;
  font-weight: 600;
  text-align: center !important;
}
.mbody {
  text-align: center !important;
}
.mfooter {
  justify-content: center !important;
}
.addBtn {
  padding: 10px;
  width: 70px;
  height: 70px;
  fill: indigo !important;
}
