button {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.btn {
  text-align: center !important;
}
.btn button {
  text-align: center !important;
  background-color: #02064a !important;
  color: white;
  height: 40px;
  width: 80% !important;
}
button:hover{
  background-color: cadetblue !important;

}